*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 41, 41);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.awesome-image{
    height: auto;
    width: 400px;
}

.random-image{
    height: auto;
    width: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(221, 255, 0);
    padding: 12px 50px;
}

.header-subinfo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
}

.header-signupblock{
    width: 200px;
    flex: 0 1 auto;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 12px;
}

.header-title{
    font-size: 24px;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen ;
    padding: 0 50px;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.links {
    display: flex;
}

.random{
    background-color: red;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.random-images{
    display: flex;
    gap: 16px;
}

.img-text-pair{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attribution {
    align-self: flex-end;
}

.action {
    background-color: blue;
}

.footer {
    padding: 12px 50px;
    background-color: gray;
}